<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px" fxLayout="column" fxLayoutAlign=" center center" fxLayoutGap="20px">
      <mat-card-title>Time to start a workout!</mat-card-title>
      <mat-card-content>
          <mat-form-field appearance="fill">
              <mat-label>Choose Exercise</mat-label>
              <mat-select placeholder="Favorite food" ngModel name="exercise" required>
                <mat-option *ngFor="let exercise of exercises" [value]="exercise.name">
                  {{ exercise.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
          <button type="submit" mat-button  [disabled]="f.invalid">Start</button>
      </mat-card-actions>
    </mat-card>
  </form>
    
</section>


